.header {
    padding: 25px 0;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    padding: 10px 15px;
    cursor: pointer;
}