.header {
    padding: 25px 0;
    .btn {
        display: inline-block;
        text-decoration: none;
        border: 1px solid red;
        border-radius: 5px;
        color: #fff;
        background-color: red;
        padding: 10px 15px;
        cursor: pointer;
    }
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

