.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header-menu-link {
    display: inline-block;
    text-decoration: none;
    color: red;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px solid red;
}