.reviewsListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.authorName {
  font-size: 18px;
  font-weight: 500;
  margin-right: 20px;
  min-width: 100px;
}
.revContent {
  text-align: left;
}
.reviewsList {
  list-style: none;
  width: 800px;
}
.reviews {
  display: flex;
  max-width: 1100px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.reviewsTitle {
  text-align: left;
  margin-left: 50px;
}
